<button [routerLink]="['/article']">article</button>
<button [routerLink]="['/edit']">edit</button>
<button [routerLink]="['/mypage']">mypage</button>

<hr>

<br>
<br>


<section>
  <article (click)="onClickArticle()">
    <h3>제목</h3>
    <div>
      <p>본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문</p>
    </div>
  </article>
  <article>
    <h3>제목</h3>
    <div>
      <p>본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문</p>
    </div>
  </article>
  <article>
    <h3>제목</h3>
    <div>
      <p>본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문</p>
    </div>
  </article><article>
  <h3>제목</h3>
  <div>
    <p>본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문</p>
  </div>
</article><article>
  <h3>제목</h3>
  <div>
    <p>본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문</p>
  </div>
</article>


</section>

<!--포스트 -->
